html

    head

        title Pug Template Example
            link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

    body
  
    nav.navbar.navbar-dark.bg-dark
        ul.nav.item
            a.nav-link(href='#') Home

    br
    div.container
     div.row
       div.col-md-12
         h2 Exercise 5.3 - Pug Templates
         p.alert.alert-success= message