<!doctype html>
<html>
    <style>
		
		.container {
			width: 100%;
			height: 700px;
			padding:5px;
		}
		
	.col-md center {
		font-size: 50px;
			color: red;
			font-weight: 800;
		}
		
		h3{
			font-size: 25px;
		}
		
		p{
			font-size: 15px;
		}
	</style>


<% include header %>

<header><% include navbar %></header>

<body>

    <div class="container" id="home" style="background-color:#F9DEFA">
        <div class="row">
            <div class="col-md">
                <center>Welcome!</center>
                <h3>Home</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut pharetra sit amet aliquam id diam. Tincidunt vitae semper quis lectus
                    nulla at volutpat. Adipiscing elit duis tristique sollicitudin nibh sit amet.
                    Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique.
                    Elementum eu facilisis sed odio morbi. Velit dignissim sodales ut eu sem integer vitae justo.
                    Molestie at elementum eu facilisis sed odio morbi quis commodo.

                    <p> Nunc sed velit dignissim sodales ut eu sem integer vitae. Mauris ultrices eros in cursus turpis.
                        Felis donec et odio pellentesque diam volutpat. Adipiscing elit pellentesque habitant morbi.
                        Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Leo urna molestie at elementum
                        eu
                        facilisis sed. Pellentesque sit amet porttitor eget dolor morbi. Amet consectetur adipiscing
                        elit ut aliquam purus. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Id donec
                        ultrices
                        tincidunt arcu non. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor.
                    </p>
                </p>
            </div>
        </div>
    </div>

    <div class="container" id="about" style="background-color:#F1B2F3">
        <div class="row">
            <div class="col-md">
                <h3>About</h3>
                <p>
                    Amet consectetur adipiscing elit ut
                    aliquam purus. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Id donec ultrices
                    tincidunt arcu non. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor.
                    Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius.
                    Nibh sit amet commodo nulla facilisi nullam.
                </p>
            </div>
        </div>
    </div>

    <div class="container" id="contact" style="background-color:#E262E6">
        <div class="row">
            <div class="col-md">
                <h3>Contact Me</h3>
                <p>
                    Nec feugiat in fermentum posuere urna nec tincidunt praesent.
                </p>
                <a class="btn btn-lg" href="#" role="button"> Form</a>
            </div>
        </div>
    </div>
    <footer><% include footer %></footer>

    <% include scripts %>

</body>

</html>