<!DOCTYPE html>
<html lang="en">
<% include header%>

<body>
    <% include navbar %>

    <div role="main" class="container width50">
        <br />
        <br />

        <!-- Start logging data to table from DB -->
        <% if (employees.length) { %>
        <h2>Employees:</h2>
        <br />
        <a href="/new">Add New Employee</a>
        <table class="table table-dark table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Functions</th>
                </tr>
            </thead>
            <tbody>
                <% employees.forEach(function (employee) { %>
                <tr>
                    <td><%= employee.firstName %></td>
                    <td><%= employee.lastName %></td>
                    <td>
                        <a class="text-warning" id="viewLink" href="/view/<%= employee.firstName %>">View</a>
                    </td>
                </tr>
            </tbody>
            <% }) %>
        </table>
        <% } else { %> No entries found <a href="/new">Add employee</a>
        <% } %>

        <br />
    </div>

    <% include scripts %>
</body>

</html>