<!DOCTYPE html>
<html lang="en">

<head>
    <% include header %>
</head>

<body>
    <% include navbar %>

    <div role="main" class="container" style="width: 50%;">
        <br /><br />

        <h2>New Employee</h2>
        <form method="post" action="/process">
            <div class="form-group pl-5 pr-5">
                <label for="firstName" class="col-form-label">First Name:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" />

                <label for="lastName" class="col-form-label">Last Name:</label>
                <input type="text" class="form-control" id="lastName" name="lastName" />
            </div>

            <!-- Start submit button -->
            <div class="form-group row justify-content-center">
                <!-- CSRF token -->
                <input name="_csrf" value="<%= csrfToken %>" type="hidden" />

                <button type="submit" class="btn btn-success float-right">
                    Submit
                </button>
            </div>
            <!-- End submit button -->
        </form>

        <br /><br />

        <a class="btn btn-secondary" href="/list/" role="button">Return to list</a>
    </div>

    <% include scripts %>
</body>

</html>