<!DOCTYPE html>
<html lang="en">

<head>
    <% include header %>
</head>

<body>
    <% include navbar %>

    <div role="main" class="container" style="width: 50%;">
        <br />
        <div class="card card-inverse" style="background-color: #333; border-color:#333; color: white;">
            <div class="card-block">
                <h2 class="card-title pt-3 pl-3">New Employee</h2>
                
                <!-- form -->
                <form method="post" action="/process">
                    <div class="form-group pl-5 pr-5">
                        <label for="firstName" class="col-form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" />

                        <label for="lastName" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" />
                    </div>

                    <!--submit button -->
                    <div class="form-group row justify-content-center">
                        <!-- CSRF token -->
                        <input name="_csrf" value="<%= csrfToken %>" type="hidden" />

                        <button type="submit" class="btn btn-success float-right">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <br />
        <br />

        <a href="/list">Return to List</a>
    </div>

    <% include scripts %>
</body>

</html>