<!DOCTYPE html>
<html lang="en">
<% include header %>

<body>

    <% include navbar %>

    <div role="main" class="container" style="width: 50%;">
        <br /><br />

        <h2>Employee Records</h2>
        <div>
            <br />
            <div class="form-group">
                <label for="txtName">First Name:</label>
                <input type="text" class="form-control bg-dark text-light pl-4" id="txtName" readonly name="txtName"
                    value="<%= employee[0].firstName %>" />
            </div>
            <br />
            <div class="form-group">
                <label for="txtName">Last Name:</label>
                <input type="text" class="form-control bg-dark text-light pl-4" id="txtName" readonly name="txtName"
                    value="<%= employee[0].lastName %>" />
            </div>
        </div>
        <br />
        <a href="/list">Return to Employees</a>
    </div>
    <% include scripts %>

</body>

</html>